<div class="row">
  <%= simple_form_for @search, url: searches_path, html: { class: 'form-horizontal navbar-form' } do |f| %>
    <div class="form-group">
      <%= f.text_field :keywords, hint: "Input anywords to search..." %>
    </div>
  <% end %>
  <div class="clearfix" id="photos" data-links="<%= "/fetch_more?page=2&id=#{params[:id]}" %>">
    <%= render partial: "photo", collection: @items %>
  </div>
</div>
